@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

/* 
* * * {
  background-color:green!important
}

* * * * {
  background-color:blue!important 
}

* * * * * {
  background-color:purple!important
}

* * * * * * {
  background-color:yellow!important
}

* * * * * * *{
  background-color:orange!important
}

* * * * * * * *{
  background-color:red!important
}  */


